body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

.site-title { 
    font-size: 2em; 
    font-weight: 700; 
    font-family: roboto;
    margin: 0.2em;
    padding: 10px;        
    top: 0;
    z-index: 1000;      
    background-color: rgb(159,198,235);
    display: flex;    
    box-shadow: 0 10px 25px rgba(15, 15, 15, 0.06);
     
}

.header-top{
  position: relative;
  padding: 4px; 
  display: flex;
}

.user-info {
      display: flex;
      text-align: right;
      top: 10px;
      right: 20px;
      font-family: Arial, sans-serif;
      font-size: 10px;
      font-weight: bold;
      position: static;        
      margin-left: auto;       
      display: inline-flex;  
      padding: 5px;
      text-align: bottom;  
}

header {
  flex: 0 80px;
  background-color: rgb(159, 198, 235);
  position: sticky;
  
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 0;
  gap: 1rem;
  padding: 1rem;
  background-color: #eef5ff;
}

footer {
  flex: 0 30px;
  font-weight: bold;
  color: black;
  background-color: rgb(159, 198, 235);
  min-height: 60px;
  padding: 10px;
}

.games-footer {
  display: flex;
  font-weight: bold;
  color: black;
  background-color: rgb(159, 198, 235);
  min-height: 60px;
  padding: 10px;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
